@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;1,300;1,400&family=Rubik+Puddles&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Prompt", sans-serif;
  color: white;
}

//Helper classes
.button {
  font-size: 1.3rem;

  padding-block: 0.2em;
  padding-inline: 0.5em;
  border-radius: 15px;
  border: none;
  transition: all 250ms;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }
}

//Joinpage classes
.joinpage-container {
  height: 100vh;

  display: grid;
  place-content: center;
  place-items: center;

  background: rgb(73, 255, 184);
  background: linear-gradient(
    302deg,
    rgba(73, 255, 184, 1) 0%,
    rgba(46, 12, 121, 1) 100%
  );

  > * {
    margin-block: 0.5em;
  }

  .joinpage-title {
    font-family: "Rubik Puddles";
    font-size: 3em;

    padding-inline: 1em;

    color: white;

    text-align: center;
  }

  .joinpage-btn {
    width: 200px;

    background-color: rgb(35, 35, 136);

    &:hover {
      background-color: rgb(21, 21, 208);
    }
  }
}

//Disconnect-page classes
.disconnect-page {
  height: 100vh;

  display: grid;
  place-content: center;
  place-items: center;

  background: rgb(73, 255, 184);
  background: linear-gradient(
    302deg,
    rgba(73, 255, 184, 1) 0%,
    rgba(46, 12, 121, 1) 100%
  );

  .disconnect-msg {
    font-family: "Rubik Puddles";
  }
}

//Occupied classes
.occupied-page {
  height: 100vh;

  display: grid;
  place-content: center;
  place-items: center;

  background: rgb(73, 255, 184);
  background: linear-gradient(
    302deg,
    rgba(73, 255, 184, 1) 0%,
    rgba(46, 12, 121, 1) 100%
  );

  .occupied-msg {
    font-family: "Rubik Puddles";
  }
}

//Winner and loser classes
.win-lose-container {
  height: 100vh;

  display: grid;
  place-content: center;
  place-items: center;

  background: rgb(73, 255, 184);
  background: linear-gradient(
    302deg,
    rgba(73, 255, 184, 1) 0%,
    rgba(46, 12, 121, 1) 100%
  );

  > * {
    margin-block: 0.5em;
  }

  .win-lose-title {
    font-family: "Rubik Puddles";
    font-size: 3em;

    padding-inline: 1em;

    color: white;

    text-align: center;
  }

  .play-again-btn {
    width: 200px;

    background-color: rgb(35, 35, 136);

    &:hover {
      background-color: rgb(21, 21, 208);
    }
  }
}

.loading-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

//Gamepage classes
.gamepage-container {
  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(rgba(0, 0, 0, 0.488), rgba(0, 0, 0, 0.362)),
    url(./frothy-sea.jpg);

  background-repeat: no-repeat;
  background-size: cover;

  .gamepage-title {
    text-align: center;
  }
}

.gameboards-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: row;
  }
}

.my-turn {
  margin-bottom: 0.8em;

  & > * {
    animation: myTurn 0.8s infinite alternate;

    text-align: center;
  }

  & span {
    background-color: hsl(0, 70%, 45%);

    padding-inline: 10px;
  }
}

@keyframes myTurn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  > * {
    font-size: 0.9rem;

    background-color: rgb(12, 110, 208);

    border-radius: 0px;

    margin-block: 0.2em;
  }

  > *:disabled {
    cursor: not-allowed;

    background-color: rgba(7, 27, 48, 0.733);
  }
}

.opponent-board:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>💣</text></svg>")
      16 0,
    auto;
}

//Box/ship styles
.box {
  display: grid;
  place-content: center;

  width: 30px;
  height: 30px;

  margin: 0.18vw;

  position: relative;

  //Client box styles
  &.my-box {
    background-color: hsl(213, 84%, 26%);

    &:hover {
      cursor: pointer;
    }
  }

  //Opponent box styles
  &.opponent-box {
    background-color: hsl(0, 70%, 45%);

    &:hover {
      background-color: hsl(0, 70%, 65%);
    }
  }

  //Client ship styles
  &.my-ship::before {
    content: "";

    position: absolute;

    display: block;

    top: 20%;
    left: -8%;

    width: 115%;
    height: 65%;

    border-radius: 5px;

    z-index: 1;

    background-color: rgb(171, 171, 171);

    transition: all 250ms;
  }

  &.my-ship:hover::before {
    background-color: rgba(171, 171, 171, 0.56);
  }

  //Hit ship styles
  &.hit::before {
    content: "";

    position: absolute;

    display: block;

    top: 20%;
    left: -8%;

    width: 115%;
    height: 65%;

    border-radius: 5px;

    z-index: 1;

    background-color: rgb(171, 171, 171);

    transition: all 250ms;
  }

  &.hit:hover::before {
    background-color: rgba(171, 171, 171, 0.56);
  }

  &.hit::after {
    content: "💥";

    position: absolute;

    font-size: 1.8rem;

    transform: translateY(-5px);

    z-index: 2;

    transition: all 250ms;
  }

  &.hit:hover::after {
    color: rgba(255, 255, 255, 0);
  }

  //Missed ship styles
  &.miss {
    background-color: rgba(255, 255, 255, 0);

    color: rgba(255, 255, 255, 0.587);

    transition: all 250ms;
  }

  &.miss:hover {
    color: white;
  }
}

/* Small tablet size */
@media screen and (min-width: 481px) {
}

/* Large tablet and laptop size */
@media screen and (min-width: 769px) {
}

/* Desktop size */
@media screen and (min-width: 1025px) {
  .gameboards-wrapper {
    flex-direction: row;

    margin-top: 75px;
  }

  .button-wrapper {
    flex-direction: row;

    > * {
      margin: 0.6em;
    }
  }

  .my-board {
    transform: translateY(-23px);
  }

  .my-turn-board {
    transform: translateY(-0px);
  }

  .box {
    width: 50px;
    height: 50px;
  }

  .my-ship::after {
    border-radius: 50px;
  }
}
